# Rename this file to .env and remove these quoted lines if you intend to use it
# See set.js on how to set values
PREFIX=.
SESSION_ID=
BOT_NAME=𝐅𝐈𝐆𝐎-ᵐᵈ𝐁𝐎𝐓-ᵛ7.9
BOT_PIC=https://files.giftedtech.my.id/file/gifted-md.jpg
AUTO_READ_STATUS=true
AUTO_LIKE_STATUS=true
AUTO_LIKE_EMOJI=💜
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=✅️ Status Viewed by Gifted-Md!
ANTICALL=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=true
GOODBYE=true
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=𝐅𝐈𝐆𝐎-S
OWNER_NUMBER=
SUDO_NUMBERS=
AUTO_AUDIO=false
BAD_WORDS=fuck,pussy,anus,idiot,xx,porn
ANTIBAD=true
AUTO_BIO=false
AUTO_BIO_QUOTE=A Journey Of Thousand Miles Begins With One Step
CHAT_BOT=true
AUTO_BLOCK=212,98,77
AUTO_REACT=false
PACK_NAME=𝐅𝐈𝐆𝐎-ᵐᵈ𝐁𝐎𝐓-ᵛ7.9💜
PACK_NAME=𝐅𝐈𝐆𝐎-ᵐᵈ𝐁𝐎𝐓-ᵛ7.9
TIME_ZONE=Africa/Nairobi
